ipympl==0.7.0
lazrs==0.3.1
matplotlib==3.3.4
numba==0.53.1
numpy==1.20.2
pyclipper==1.2.1
laspy==2.0.2
shapely==1.7.1
scipy==1.6.2
tifffile==2021.6.14
tqdm==4.61.0
zarr==2.8.3
open3d==0.13.0
azureml-pipeline==1.32.0
